<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
  <style>
  .Username {
    margin-right: 15px;
  }
  </style>
</head>
<body>
  <header>
      <%- include("../views/partials/_header.ejs") %>
  </header>
  <main>
    <h1>Please log in to view your urls. Thank you!</h1>

    <form class="form-inline" method="GET" action="/login"><button class="btn btn-outline-primary">Login</button></form>
  </main>